@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Hello Moti..
    </div>
    <div>
        <a href="@Url.Action("DownloadPDF", "Home")">Download ViewAsPdf</a>
    </div>
  @*  <div>
        <a href="@Url.Action("DownloadActionAsPDF", "Home")">Download ActionAsPdf</a>
    </div>
    <div>
        <a href="@Url.Action("DownloadPartialViewPDF", "Home")">Download PartialViewAsPDF</a>
    </div>
    <div>
        <a href="@Url.Action("UrlAsPDF", "Home")">Download UrlAsPDF</a>
    </div>*@
</body>
</html>
